@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#35B787";
  --secondary: "#61BE6E";
  --acsent: "#74C05C";
}

body {
  background-image: linear-gradient(
    to left top,
    #587850,
    #5c7d58,
    #60815f,
    #648667,
    #698a6e,
    #6c8f74,
    #6f937b,
    #729881,
    #749e88,
    #75a490,
    #77aa98,
    #78b0a0
  );
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(
    to left top,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(
    to left top,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

.colorgradient {
  background: radial-gradient(rgb(91, 148, 91), rgb(33, 71, 33));
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
